<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LineServlet</display-name>
    <servlet-name>LineServlet</servlet-name>
    <servlet-class>cn.itcast.heima.line.LineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineServlet</servlet-name>
    <url-pattern>/line</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeadServlet</display-name>
    <servlet-name>HeadServlet</servlet-name>
    <servlet-class>cn.itcast.heima.head.HeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeadServlet</servlet-name>
    <url-pattern>/head</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BodyServlet</display-name>
    <servlet-name>BodyServlet</servlet-name>
    <servlet-class>cn.itcast.heima.body.BodyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BodyServlet</servlet-name>
    <url-pattern>/body</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>cn.itcast.heima.form.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dispatcher01Servlet</display-name>
    <servlet-name>Dispatcher01Servlet</servlet-name>
    <servlet-class>cn.itcast.heima.dispatcher.Dispatcher01Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher01Servlet</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dispatcher02Servlet</display-name>
    <servlet-name>Dispatcher02Servlet</servlet-name>
    <servlet-class>cn.itcast.heima.dispatcher.Dispatcher02Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher02Servlet</servlet-name>
    <url-pattern>/dispatcher02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.heima.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestInfoServlet</display-name>
    <servlet-name>RequestInfoServlet</servlet-name>
    <servlet-class>homework_level01_Test01.RequestInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInfoServlet</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeadInfoServlet</display-name>
    <servlet-name>HeadInfoServlet</servlet-name>
    <servlet-class>homework_level01_Test02.HeadInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeadInfoServlet</servlet-name>
    <url-pattern>/headInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>homework_level02_Test01.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>homework_level03_Test01.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HadleServlet</display-name>
    <servlet-name>HadleServlet</servlet-name>
    <servlet-class>homework_level03_Test01.HadleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HadleServlet</servlet-name>
    <url-pattern>/handle</url-pattern>
  </servlet-mapping>
</web-app>